<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
	<div class="swipeIdArea">
		<h1 class="title">ID Verification Procedure</h1>
		<div class="areaContent">
			<ol>
				<li>Wait for the LED by the card reader to light up</li>
				<li>Swipe your ID tag</li>
				<li>Wait for the LED to start blinking at regular intervals</li>
				<li>Click the 'Obtain Access' button</li>
			</ol>
			<form name="loginForm" action="http://192.168.2.2/verify" method="POST">
				<input type="submit" id="accessButton" value="Obtain Access" class="accessButton" />
			</form>
		</div>
	</div>
</body>

</html>